# -*- coding: utf8 -*-
EMAIL_USE_TLS = True
DEBUG = True
TEMPLATE_DEBUG = DEBUG

#Configuración de envío de correo por Gmail
EMAIL_USE_TLS = True # Control para cuando se use un sitio con conexión segura
EMAIL_HOST = 'correo.suscerte.gob.ve' # HOST DEL CORREO
EMAIL_PORT = 25 # PUERTO DE SALIDA DE CORREO
EMAIL_HOST_USER = '' # CUENTA DE CORREO 
EMAIL_HOST_PASSWORD = '' # CONTRASEÑA DE CORREO
EMAIL_SUBJECT_PREFIX = '[SUSCERTE] ' # PREFIJO DE CADA ASUNTO
DEFAULT_FROM_EMAIL = 'tecnica@suscerte.gob.ve' # EMAIL POR DEFECTO DEL EMISOR


CACHES={
        'default':{
                'BACKEND':'django.core.cache.backends.filebased.FileBasedCache',
                'LOCATION':'/tmp/'
        }
}
